[package]
name = "clipboard-rs"
version = "0.0.1"
authors = ["ChurchTao <swkzymlyy@gmail.com>"]
description = "cross-platform library for getting and setting the contents of the OS-level clipboard."
repository = "https://github.com/ChurchTao/clipboard-rs"
documentation = "https://docs.rs/clipboard-rs"
readme = "README.md"
license = "MIT"
keywords = ["clipboard"]
edition = "2021"
rust-version = "1.75.0"

[dependencies]
image = "0.24"

[target.'cfg(windows)'.dependencies]
clipboard-win = "5.0.0"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.25.0"

[target.'cfg(all(unix, not(any(target_os="macos", target_os="android", target_os="ios", target_os="emscripten"))))'.dependencies]
x11-clipboard = { version = "0.8.1", optional = true }
smithay-clipboard = { version = "0.7.0", optional = true }
