name: Test

on:
  push:
    branches: [master]
    paths-ignore:
      - "README_ZH.md"
      - "README.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "README_ZH.md"
      - "README.md"

jobs:
  clippy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        # os: [macos-latest, windows-latest]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: actions/checkout@v4

      - name: Run `cargo clippy`
        run: cargo clippy --all -- -D warnings

  test:
    needs: clippy
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # No Linux test for now as it just fails due to not having a desktop environment.
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run `cargo test`
        run: cargo test --all
